.works {
  background-color: rgb(139, 173, 212);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  .arrow{
    height: 50px;
    position: absolute;

    &.left{
        left: 100px;
        transform: rotateY(180deg);
        background-color: white;
        //1;46:48
        cursor: pointer;
    }
    &.right{
        right: 100px;
        cursor: pointer;
        background-color: white;
        //1;46:48
    }
  }

  .slider {
    position: absolute;
    left: 0;
    //1:59:19
    transition: all 1s ease-in-out;
    height: 350px;
    display: flex;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(104, 230, 255);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;


          img{
            width: 500px;
            height: 130%;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
